.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .curr-container {
    width: 25%;
    border-radius: 5%;
  }
  .prev-container {
    width: 15%;
    border-radius: 5%;
  }
  .next-container {
    width: 15%;
    border-radius: 5%;
  }
  
  .song-container > h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .song-container > img {
      width: 60%;
    }
  }
  